  <div>
    <h1>Cube</h1>

    <form action="/saiku_admin/api/olap" method="post" id="form_cube">
      <div class="row">
        <fieldset class="span7 controls">
          <legend>General</legend>
          <label>Type</label>
          <select name="connection_type">
            <% _.each(data.connectionType, function(type) { %>
                <option value="<%=type%>"><%=type%></option>
            <% }); %>
          </select>
          <label>Name</label>
          <input type="text" placeholder="Nombre" name="name" data-rule-required="true" class="input-xlarge"/>
        </fieldset>

        <fieldset class="span7">
          <legend>Connection</legend>
          <label>Jdbc Driver</label>
          <select name="connection_jdbc_driver">
            <option value="com.mysql.jdbc.Driver">com.mysql.jdbc.Driver</option>
          </select>
          <label>JDBC</label>
          <input type="text" placeholder="Nombre" name="connection_jdbc" data-rule-required="true" class="input-xxlarge"/>
          <label>Path</label>
          <input type="text" placeholder="Nombre" name="connection_catalog" data-rule-required="true" class="input-xxlarge"/>
          <label>User Database</label>
          <input type="text" placeholder="Nombre" name="connection_username" data-rule-required="true"/>
          <label>Password</label>
          <input type="password" placeholder="Nombre" name="connection_password" data-rule-required="true"/>
        </fieldset>

        <fieldset class="span7 controls">
          <legend>Security</legend>

          <label>Type Security</label>
          <select name="security_type">
            <% _.each(data.securityType, function(type) { %>
                <option value="<%=type%>"><%=type%></option>
            <% }); %>
          </select>

          <label>security.enabled</label>
          <input type="checkbox" name="security_enable" />

          <table class="content_olap_roles">
            <tr><th><label>Role spring</label></th><th></th><th><label>Roles saiku</label></th></tr>
            <tr class="dup">
              <td><input type="text" name="role_spring" style="width:220px;"/></td>
              <td style="width:50px;text-align:center;">-></td>
              <td>
                <select name="roles_saiku" multiple>
                  <% _.each(roles, function(role) { %>
                      <option value="<%=role.name%>"><%=role.name%></option>
                  <% }); %>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="content_button">
                <input type="button" class="btn dup_row" value="+" />
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
      <div class="row">
        <div class="span12">
          <button type="submit" class="btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
