
<table class="table table-bordered table-header">
  <thead>
  <tr>
    <th>Role</th>
  </tr>
  </thead>
</table>
<div class="table-scrollable">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <tbody>
      <% _.each(data, function(role) { %>
        <tr>
          <td><%=role.name%></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div class="text-right">
  <button class="btn" href="#newRole" data-toggle="modal">
    <i class="icon-edit"></i> New role
  </button>
</div>


<div id="newRole" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="/saiku_admin/api/roles" method="post" id="form_roles">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">New Role</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="controls span4">
          <input type="text" placeholder="Role" name="role" class="span4" data-rule-required="true"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
    </div>
  </form>
</div>
