body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #333333;
}

.navbar-inner {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #dedede;
}

.container {
  width: auto;
}

.content {
  margin: auto;
  float: none;
  background: #fff;
  padding: 10px;
  margin: 40px auto;

  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
}

.navbar .nav {
  width: 500px;
}

.brand {
  /*margin-right: 30px;*/
  margin-left: 0px !important;
}

.navbar .nav{
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

#newUser {
  width: 600px; 
  margin-left:  -300px !important; 
  height: 450px;
}

#newUser .modal-body {
  max-height: 800px;
}

#newRole {
  width: 350px; 
  margin-left:  -150px !important; 
  height: 150px;
}

label.error {
  font-size: 12px;
  color: red;
  margin: 0px;
/*  position: absolute;
  margin-top: -11px;
  margin-left: 110px;*/
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#loading{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  display: none;
  z-index: 9999;

  background: url('img/loader_white_big.gif');
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  text-align: center;
  padding-top: 10px;
  opacity: 0.8;
  background: #fff;
}


.content_olap_roles {
  /*width: 300px;*/
  margin-top: 20px;
}

.content_olap_roles th {
  text-align: left;
  background: #eee;
  padding: 5px 0px 0px 5px;
}
.content_olap_roles td {
  vertical-align: top;
  padding: 5px;
}

.content_olap_roles select {
  width: 250px;
}

input[type="text"], input[type="password"] {
  padding: 7px;  
  font-size: 15px;
}

fieldset {
  margin-top: 15px;
  padding: 0px 0px 0px 15px;
}

.content_button {
  text-align: right;
}


.table_queries tbody { 
  display:block; 
  overflow:auto; 
  height:300px; 
}

#grafic_status {
  margin-top: 50px;
  border: 1px solid #ccc !important;
}

